<?xml version="1.0" encoding="utf-16"?>
<!DOCTYPE root [<!ELEMENT forbiddenPage ANY>
<!ATTLIST forbiddenPage id ID #REQUIRED>
 
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1074" key="ea692832-f64e-4db9-89e8-f149a758dbfb" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2016-03-24T15:07:44" updateDate="2016-03-29T20:48:44" nodeName="Home" urlName="home" path="-1,1074" isDoc="" nodeType="1056" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1055" nodeTypeAlias="homePage">
    <metaKeywords><![CDATA[Aarhus Web Developer]]></metaKeywords>
    <metaDescription><![CDATA[Aarhus Web Developer]]></metaDescription>
    <umbracoNaviHide>0</umbracoNaviHide>
    <hideFromSiteMap>0</hideFromSiteMap>
    <siteTitle><![CDATA[Welcome to Aarhus Web Developer]]></siteTitle>
    <mainContent><![CDATA[<p>Check these awesome projects!</p>]]></mainContent>
    <footer><![CDATA[Copyright Aarhus Web Dev]]></footer>
    <articlesMain id="1077" key="d00e1dca-3e23-4e29-819e-44bf460b2c1c" parentID="1074" level="2" creatorID="0" sortOrder="1" createDate="2016-03-24T16:22:13" updateDate="2016-03-29T20:50:54" nodeName="Articles" urlName="articles" path="-1,1074,1077" isDoc="" nodeType="1060" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1059" nodeTypeAlias="articlesMain">
      <metaKeywords><![CDATA[articles]]></metaKeywords>
      <metaDescription><![CDATA[Articles]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSiteMap>0</hideFromSiteMap>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>Check our articles!</p>]]></articlesBodyText>
      <articleItem id="1078" key="dc3cd5cd-20d8-4faa-814c-c2cf8604c6a8" parentID="1077" level="3" creatorID="0" sortOrder="0" createDate="2016-03-24T16:23:05" updateDate="2016-03-24T16:23:05" nodeName="A Beginner's Guide to Web Accessibility" urlName="a-beginners-guide-to-web-accessibility" path="-1,1074,1077,1078" isDoc="" nodeType="1062" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1061" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[A Beginner's Guide to Web Accessibility]]></metaKeywords>
        <metaDescription><![CDATA[A Beginner's Guide to Web Accessibility]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>Web accessibility is quickly becoming a topic that is unavoidable. Access to the web is becoming a basic human right, but many sites are inaccessible to people with a wide range of disabilities. This course will identify the different disabilities that must be accounted for, the benefits to all users when your site is more accessible, and how to be proactive when it comes to conforming with the Web Content Accessibility Guidelines (WCAG).</p>
<p>Whether you're a designer, developer, project manager or CEO, this course will help you realize that accessibility is worth the time it takes to make improvements, and it's not much extra effort if added into the workflow of a project. At the end of the day, if you make even one site improvement, the Internet will be a better place.</p>
<p></p>]]></articleContent>
        <articleTitle><![CDATA[A Beginner's Guide to Web Accessibility]]></articleTitle>
      </articleItem>
      <articleItem id="1079" key="146a426c-4827-49ca-8e53-f971109c09c0" parentID="1077" level="3" creatorID="0" sortOrder="1" createDate="2016-03-24T16:23:55" updateDate="2016-03-29T20:52:50" nodeName="Quick Tip: Scroll Animations With fullPage.js and Animate.css" urlName="quick-tip-scroll-animations-with-fullpagejs-and-animatecss" path="-1,1074,1077,1079" isDoc="" nodeType="1062" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1061" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[Quick Tip: Scroll Animations With fullPage.js and Animate.css]]></metaKeywords>
        <metaDescription><![CDATA[Quick Tip: Scroll Animations With fullPage.js and Animate.css]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideFromSiteMap>0</hideFromSiteMap>
        <articleContent><![CDATA[<h5 class="nolinks">Required Libraries</h5>
<p>For the purposes of this example, I set up a <a href="http://codepen.io/tutsplus/full/dMvJaO/">demo page</a>. If you look under the<strong>Settings</strong> tab, you’ll see I included the following libraries to the pen:</p>
<ul>
<li><span class="skimlinks-unlinked">fullPage.js</span></li>
<li><span class="skimlinks-unlinked">animate.css</span></li>
<li><a href="https://jquery.com/">jQuery</a></li>
<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
</ul>
<p><img src="https://cms-assets.tutsplus.com/uploads%2Fusers%2F30%2Fposts%2F25235%2Fimage-1458551355009.png" alt="file" /></p>
<p>The Bootstrap framework isn’t vital; I added it only because I wanted to take advantage of its styles.</p>
<h2 class="nolinks">The Process</h2>
<p>Our page comprises four sections; each one filling the page (thanks to fullPage). Users will jump to the next section by scrolling, or navigating via the pagination links on the right. Each time that happens we’ll trigger some animations, like bringing the images into position, for example.</p>]]></articleContent>
        <articleTitle><![CDATA[Quick Tip: Scroll Animations With fullPage.js and Animate.css]]></articleTitle>
      </articleItem>
      <articleItem id="1121" key="5f397c01-7e5a-4ccf-b213-67f09bfff3ae" parentID="1077" level="3" creatorID="2" sortOrder="2" createDate="2016-03-28T22:07:21" updateDate="2016-03-28T22:07:21" nodeName="tim content" urlName="tim-content" path="-1,1074,1077,1121" isDoc="" nodeType="1062" creatorName="Tim Hansson" writerName="Tim Hansson" writerID="2" template="1061" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[tim content]]></metaKeywords>
        <metaDescription><![CDATA[tim content]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideFromSiteMap>0</hideFromSiteMap>
        <articleContent><![CDATA[<p>tim content</p>]]></articleContent>
        <articleTitle><![CDATA[tim content]]></articleTitle>
      </articleItem>
    </articlesMain>
    <textPage id="1080" key="107b56e3-f2f0-49ff-9e41-6076b61fc3a3" parentID="1074" level="2" creatorID="0" sortOrder="2" createDate="2016-03-24T18:24:44" updateDate="2016-03-24T19:07:20" nodeName="About us" urlName="about-us" path="-1,1074,1080" isDoc="" nodeType="1058" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1057" nodeTypeAlias="textPage">
      <metaKeywords><![CDATA[about, us, aarhus, web, dev]]></metaKeywords>
      <metaDescription><![CDATA[About Aarhus Web dev Convention]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <mainContent><![CDATA[<p>About Aarhus Web Devevloper</p>]]></mainContent>
      <header><![CDATA[About Aarhus Web Devevloper]]></header>
      <fullWidthArticle><![CDATA[{
  "name": "Full Width Article",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "3columns",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Hey",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1083,
                    "image": "/media/1002/atxwebdev.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": true
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Vision</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>People</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Skills</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "755c6ed8-7cf2-8226-0a77-8a5de91a562f"
        }
      ]
    }
  ]
}]]></fullWidthArticle>
    </textPage>
    <projectsMain id="1084" key="e5a85c58-4cd1-4513-a16d-271f65ffe88b" parentID="1074" level="2" creatorID="0" sortOrder="3" createDate="2016-03-25T12:57:47" updateDate="2016-03-29T20:34:12" nodeName="All Projects" urlName="all-projects" path="-1,1074,1084" isDoc="" nodeType="1064" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1063" nodeTypeAlias="projectsMain">
      <metaKeywords><![CDATA[projects]]></metaKeywords>
      <metaDescription><![CDATA[projects]]></metaDescription>
      <umbracoNaviHide>1</umbracoNaviHide>
      <hideFromSiteMap>0</hideFromSiteMap>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectsBodyText><![CDATA[<p>Bla bla bla bla projects</p>]]></projectsBodyText>
      <projectItem id="1085" key="cc4e43ff-3d36-434c-afbb-55682eb90395" parentID="1084" level="3" creatorID="0" sortOrder="0" createDate="2016-03-25T12:58:09" updateDate="2016-03-29T15:32:00" nodeName="Create a Directory on GitHub" urlName="create-a-directory-on-github" path="-1,1074,1084,1085" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[How to Create an Open Source Directory on GitHub]]></metaKeywords>
        <metaDescription><![CDATA[How to Create an Open Source Directory on GitHub]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideFromSiteMap>0</hideFromSiteMap>
        <projectTitle><![CDATA[How to Create an Open Source Directory on GitHub Pages]]></projectTitle>
        <projectStatus>11</projectStatus>
        <projectDescription><![CDATA[<p>One really useful aspect of GitHub repos is that they allow us to host static websites thanks to GitHub Pages. But did you know that you can dynamically display all your GitHub repos on your website as well?</p>
<p>In this tutorial I’m going to show you a great little trick using <a href="https://help.github.com/articles/repository-metadata-on-github-pages/">repository metadata</a> to create a portfolio of your open source projects just <a href="http://tutsplus.github.io/repo-listing-demo/" target="_self">like this</a>:</p>
<p><img src="https://cms-assets.tutsplus.com/uploads/users/30/posts/26225/image/pages.png" alt="" /></p>
<h2 class="nolinks">Preparation</h2>
<p>Before we get started, you’re going to have to make sure all your open source projects are up to scratch. That means making sure they have a decent readme file and <a href="http://choosealicense.com/">appropriate license</a>. It doesn’t look good if your readme is missing or inaccurate. Additionally, you’ll need to fill in the description and url fields appropriately. These will be used as part of each portfolio item.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1086" key="e9229110-6bbf-434f-a0fc-76bfda3096ad" parentID="1084" level="3" creatorID="0" sortOrder="1" createDate="2016-03-25T12:58:44" updateDate="2016-03-29T15:30:03" nodeName="Working With LESS" urlName="working-with-less" path="-1,1074,1084,1086" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Working With LESS]]></metaKeywords>
        <metaDescription><![CDATA[Working With LESS]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideFromSiteMap>0</hideFromSiteMap>
        <projectTitle><![CDATA[Working With LESS]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>This is a complete tutorial to using <a href="http://www.lesscss.org/">LESS</a> with Chrome's <a href="https://developers.google.com/chrome-developer-tools/">DevTools</a>. If you've used<a href="https://developers.google.com/chrome-developer-tools/docs/css-preprocessors">Sass with Chrome's DevTools</a>, you'll most likely already be familiar with the concepts introduced here.</p>
<p> </p>
<h2 class="nolinks">The Short Version</h2>
<ul>
<li>LESS has very recently added support for Source Maps, so this is new and exciting!</li>
<li>DevTools mapping means you can view LESS styles for all your relevant CSS.</li>
<li>Edit LESS source files within DevTools and have them save to disk.</li>
<li>Source Map adoption is improving with Sass, CoffeeScript, UglifyJS2 and more.</li>
</ul>
<h2 class="nolinks">Introduction</h2>
<p>Not too long ago, the Chrome DevTools added a number of IDE-like features (and continues to do so), one of which is the ability to understand the mapping between a compiled file and its corresponding source file. This is made possible thanks to<a href="http://www.html5rocks.com/en/tutorials/developertools/sourcemaps/">Source Maps</a>.</p>
<p><img src="https://cdn.tutsplus.com/net/uploads/2014/01/image_0-2.gif" alt="image_0-2" width="600" height="430" /></p>
<h3 class="nolinks">What This Tutorial Will Cover</h3>
<ul>
<li>How to generate Source Maps from LESS files.</li>
<li>Debugging LESS code through the DevTools.</li>
<li>Authoring LESS code in the DevTools and seeing changes immediately via Workspaces and Grunt.</li>
</ul>
<p>Everything mentioned here is available in <a href="http://www.google.co.uk/intl/en/chrome/browser/canary.html">Chrome Canary</a>.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1087" key="5f1197a3-5708-4ee1-adc6-eb32132fe66f" parentID="1084" level="3" creatorID="0" sortOrder="2" createDate="2016-03-25T14:51:58" updateDate="2016-03-29T06:48:40" nodeName="Font Awesome" urlName="font-awesome" path="-1,1074,1084,1087" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[completed project]]></metaKeywords>
        <metaDescription><![CDATA[completed project]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideFromSiteMap>0</hideFromSiteMap>
        <projectTitle><![CDATA[Font Awesome]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>Font Awesome is indeed awesome: 249 icons contained within a single font, constituting "a pictographic language of web-related actions". Icons are scalable, so they look the same at any size, and you can style them with CSS. It's fully compatible with Twitter Bootstrap 2.2.2 (see below), works with IE7 and is available for commercial use.</p>
<ul>
<li><em>Also see our favourite <a href="http://www.creativebloq.com/typography/free-web-fonts-1131610">web fonts</a> - and they don't cost a penny</em></li>
</ul>
<p>Icons are currently divided into six categories: web application (a pushpin, a thumbs up, a shopping cart, and so on), text editor (icons for file, copy, paste, etc), directional (different styles of arrows and chevrons), video player, social, and medical. You can request additional icons on the GitHub project, and even contribute your own.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1088" key="ca98e4af-8fc5-488e-aa0b-a324e259fa06" parentID="1084" level="3" creatorID="0" sortOrder="3" createDate="2016-03-25T15:05:26" updateDate="2016-03-29T15:32:38" nodeName="Brackets" urlName="brackets" path="-1,1074,1084,1088" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Brackets]]></metaKeywords>
        <metaDescription><![CDATA[Brackets]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideFromSiteMap>0</hideFromSiteMap>
        <projectTitle><![CDATA[Brackets]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p> An open source project begun at <a href="http://creativebloq.com/tag/adobe" target="_blank" class="hawk-link-parsed">Adobe</a>, Brackets is a lightweight and modern code editor focused on web technologies, with a collection of innovative features.</p>
<p>The 17th most popular project on Github, the core team consists of 12 developers, with Adobe providing seven full-time engineers to the project, plus around 80 individual contributors. However, product manager Adam Lehman cautions that it isn’t yet ready for day-to-day use.</p>
<p><img src="http://media.creativebloq.futurecdn.net/sites/creativebloq.com/files/images/2013/04/brackets.jpg" alt="open source projects" /></p>
<p>"Code editors have been around for a very long time, so you can’t just expect to build an editor with all the required features overnight," he says. "We produce stable and reliable builds every two and a half weeks, so you can be sure it’s safe to use, but you may find yourself going back to your previous editor for a feature or two.</p>
<p>And yes, they use do Brackets to develop Brackets. "It’s all very meta," says Lehman. "We’ve been doing so since the second or third build."</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1089" key="4fd4013c-0550-4090-921f-10cb1ba6eabf" parentID="1084" level="3" creatorID="0" sortOrder="4" createDate="2016-03-25T15:05:40" updateDate="2016-03-29T15:32:31" nodeName="Firefox OS" urlName="firefox-os" path="-1,1074,1084,1089" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Firefox OS]]></metaKeywords>
        <metaDescription><![CDATA[Firefox OS]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideFromSiteMap>0</hideFromSiteMap>
        <projectTitle><![CDATA[Firefox OS]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>Firefox OS, the new operating sysyem being developed by Mozilla, is a win for developers says Andreas Gal, vice president of mobile engineering at Mozilla. "The more platforms developers have to develop for, the more complicated their lives become," he reasons.</p>
<p>"Mozilla’s aim is to be a catalyst to drive more development for the Open Web. Over eight million developers develop in HTML5 today compared to around 100,000 iOS developers and 400,000 Android but 10 million for HTML5. We just want to unlock the power of HTML5 for standards-based work.</p>
<p><img src="http://media.creativebloq.futurecdn.net/sites/creativebloq.com/files/images/2013/04/firefoxos(1).jpg" alt="open source projects" /></p>
<p>"Web apps can access all the device capabilities with the new web APIs that Mozilla added - closing the gap between web and native apps," Gal continues. "This will lower the barrier to entry for smaller, local content developers, businesses, educators and government organizations as well because HTML5 and Web technologies are familiar to developers.</p>
<p>"Apps powered by the open web also allow developers to have direct relationships with their customers. Additionally, there’s a much lighter software footprint on the device. so we can get more out of the hardware."</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1090" key="e37658d1-2100-4759-9b82-47c031350236" parentID="1084" level="3" creatorID="0" sortOrder="5" createDate="2016-03-25T15:05:52" updateDate="2016-03-29T21:04:35" nodeName="Conditionizr" urlName="conditionizr" path="-1,1074,1084,1090" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Conditionizr]]></metaKeywords>
        <metaDescription><![CDATA[Conditionizr]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideFromSiteMap>0</hideFromSiteMap>
        <projectTitle><![CDATA[Conditionizr]]></projectTitle>
        <projectStatus>12</projectStatus>
        <projectDescription><![CDATA[<p>Conditionizr is a brilliant new tool for browser detection. "Conditionizr finalises the gap in frontend technology; conditional free," explains creator <a href="http://toddmotto.com/" target="_blank" class="hawk-link-parsed">Todd Motto</a>. "We use things like Modernizr for feature detection for HTML5/CSS3, and Conditionizr sits alongside to serve the exact opposite: legacy content serving for a clean markup."</p>
<p>Currently at version 2.2.1, Conditionizr recognises the browser in use and delivers the required content. For example, an IE7 user will receive either HTML classes for CSS overrides, or load an ie7.css and ie7.js file; useful for browser patching.</p>
<p>"Conditionizr isn't limited to legacy," adds Motto. "It also aims to help users fix modern browser quirks by detecting modern browsers too. Conditionizr has evolved to include not just legacy content serving, but it also detects retina and touch devices and again allows developers to cater for the entire frontend. It's a tiny 3KB script."</p>
<p>Future plans include redesigning the website to deliver a better user experience and swapping the IE detection to a non-sniffing alternative.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1092" key="41c8f560-0a8b-4977-9fed-d4be5b61dfdb" parentID="1084" level="3" creatorID="0" sortOrder="7" createDate="2016-03-25T15:26:20" updateDate="2016-03-29T21:11:44" nodeName="Hidden completed project" urlName="hidden-completed-project" path="-1,1074,1084,1092" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Hidden completed project]]></metaKeywords>
        <metaDescription><![CDATA[Hidden completed project]]></metaDescription>
        <umbracoNaviHide>1</umbracoNaviHide>
        <hideFromSiteMap>1</hideFromSiteMap>
        <projectTitle><![CDATA[Hidden completed project]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>Hidden completed project Hidden completed project Hidden completed project Hidden completed project Hidden completed project</p>
<p>Hidden completed project  Hidden completed project</p>]]></projectDescription>
      </projectItem>
    </projectsMain>
    <sitemap id="1095" key="f0530979-cfae-4c74-a5ac-49ffef0f77ce" parentID="1074" level="2" creatorID="0" sortOrder="4" createDate="2016-03-28T16:06:46" updateDate="2016-03-28T16:16:35" nodeName="Sitemap" urlName="sitemap" path="-1,1074,1095" isDoc="" nodeType="1094" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1093" nodeTypeAlias="sitemap">
      <metaKeywords><![CDATA[sitemap]]></metaKeywords>
      <metaDescription><![CDATA[sitemap]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSiteMap>1</hideFromSiteMap>
    </sitemap>
    <contactPage id="1099" key="b6f2e898-cdb2-498b-b7ec-2953a0634617" parentID="1074" level="2" creatorID="0" sortOrder="5" createDate="2016-03-28T16:32:54" updateDate="2016-03-28T16:32:54" nodeName="Contact us" urlName="contact-us" path="-1,1074,1099" isDoc="" nodeType="1098" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1097" nodeTypeAlias="contactPage">
      <metaKeywords><![CDATA[Contact us]]></metaKeywords>
      <metaDescription><![CDATA[Contact us]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSiteMap>0</hideFromSiteMap>
    </contactPage>
    <login id="1138" key="b7cae7b9-4857-4595-8d3f-fdabb204b40f" parentID="1074" level="2" creatorID="0" sortOrder="6" createDate="2016-03-29T00:40:27" updateDate="2016-03-29T04:27:19" nodeName="Login" urlName="login" path="-1,1074,1138" isDoc="" nodeType="1137" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1136" nodeTypeAlias="login">
      <metaKeywords><![CDATA[login]]></metaKeywords>
      <metaDescription><![CDATA[login]]></metaDescription>
      <umbracoNaviHide>1</umbracoNaviHide>
      <hideFromSiteMap>0</hideFromSiteMap>
    </login>
    <members id="1141" key="923bab9e-fc21-4768-ae67-419d22a870c9" parentID="1074" level="2" creatorID="0" sortOrder="7" createDate="2016-03-29T05:04:17" updateDate="2016-03-29T05:04:17" nodeName="Members" urlName="members" path="-1,1074,1141" isDoc="" nodeType="1140" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1139" nodeTypeAlias="members">
      <metaKeywords><![CDATA[Members]]></metaKeywords>
      <metaDescription><![CDATA[Members]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSiteMap>0</hideFromSiteMap>
    </members>
    <forbiddenPage id="1146" key="c9eab25b-654e-4975-90c9-cb9d912c6c61" parentID="1074" level="2" creatorID="0" sortOrder="8" createDate="2016-03-29T21:03:25" updateDate="2016-03-29T21:03:32" nodeName="Forbidden" urlName="forbidden" path="-1,1074,1146" isDoc="" nodeType="1145" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1144" nodeTypeAlias="forbiddenPage">
      <metaKeywords><![CDATA[Forbidden]]></metaKeywords>
      <metaDescription><![CDATA[Forbidden]]></metaDescription>
      <umbracoNaviHide>1</umbracoNaviHide>
      <hideFromSiteMap>1</hideFromSiteMap>
    </forbiddenPage>
  </homePage>
</root>