<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1074" key="ea692832-f64e-4db9-89e8-f149a758dbfb" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2016-03-24T15:07:44" updateDate="2016-03-25T15:24:34" nodeName="Home" urlName="home" path="-1,1074" isDoc="" nodeType="1056" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1055" nodeTypeAlias="homePage">
    <metaKeywords><![CDATA[home page]]></metaKeywords>
    <metaDescription><![CDATA[Home Page]]></metaDescription>
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Welcome to Aarhus Web Developer]]></siteTitle>
    <mainContent><![CDATA[<p>Pula mea content</p>
<p> </p>
<p> </p>]]></mainContent>
    <footer><![CDATA[Copyright Aarhus Web Dev]]></footer>
    <articlesMain id="1077" key="d00e1dca-3e23-4e29-819e-44bf460b2c1c" parentID="1074" level="2" creatorID="0" sortOrder="1" createDate="2016-03-24T16:22:13" updateDate="2016-03-24T16:22:13" nodeName="Articles" urlName="articles" path="-1,1074,1077" isDoc="" nodeType="1060" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1059" nodeTypeAlias="articlesMain">
      <metaKeywords><![CDATA[articles]]></metaKeywords>
      <metaDescription><![CDATA[Articles]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>Check our articles and suck my dick!</p>]]></articlesBodyText>
      <articleItem id="1078" key="dc3cd5cd-20d8-4faa-814c-c2cf8604c6a8" parentID="1077" level="3" creatorID="0" sortOrder="0" createDate="2016-03-24T16:23:05" updateDate="2016-03-24T16:23:05" nodeName="A Beginner's Guide to Web Accessibility" urlName="a-beginners-guide-to-web-accessibility" path="-1,1074,1077,1078" isDoc="" nodeType="1062" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1061" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[A Beginner's Guide to Web Accessibility]]></metaKeywords>
        <metaDescription><![CDATA[A Beginner's Guide to Web Accessibility]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>Web accessibility is quickly becoming a topic that is unavoidable. Access to the web is becoming a basic human right, but many sites are inaccessible to people with a wide range of disabilities. This course will identify the different disabilities that must be accounted for, the benefits to all users when your site is more accessible, and how to be proactive when it comes to conforming with the Web Content Accessibility Guidelines (WCAG).</p>
<p>Whether you're a designer, developer, project manager or CEO, this course will help you realize that accessibility is worth the time it takes to make improvements, and it's not much extra effort if added into the workflow of a project. At the end of the day, if you make even one site improvement, the Internet will be a better place.</p>
<p></p>]]></articleContent>
        <articleTitle><![CDATA[A Beginner's Guide to Web Accessibility]]></articleTitle>
      </articleItem>
      <articleItem id="1079" key="146a426c-4827-49ca-8e53-f971109c09c0" parentID="1077" level="3" creatorID="0" sortOrder="1" createDate="2016-03-24T16:23:55" updateDate="2016-03-24T16:23:55" nodeName="Quick Tip: Scroll Animations With fullPage.js and Animate.css" urlName="quick-tip-scroll-animations-with-fullpagejs-and-animatecss" path="-1,1074,1077,1079" isDoc="" nodeType="1062" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1061" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[Quick Tip: Scroll Animations With fullPage.js and Animate.css]]></metaKeywords>
        <metaDescription><![CDATA[Quick Tip: Scroll Animations With fullPage.js and Animate.css]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<h2 class="nolinks">Required Libraries</h2>
<p>For the purposes of this example, I set up a <a href="http://codepen.io/tutsplus/full/dMvJaO/">demo page</a>. If you look under the<strong>Settings</strong> tab, you’ll see I included the following libraries to the pen:</p>
<ul>
<li><span class="skimlinks-unlinked">fullPage.js</span></li>
<li><span class="skimlinks-unlinked">animate.css</span></li>
<li><a href="https://jquery.com/">jQuery</a></li>
<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
</ul>
<p><img src="https://cms-assets.tutsplus.com/uploads%2Fusers%2F30%2Fposts%2F25235%2Fimage-1458551355009.png" alt="file" /></p>
<p>The Bootstrap framework isn’t vital; I added it only because I wanted to take advantage of its styles.</p>
<h2 class="nolinks">The Process</h2>
<p>Our page comprises four sections; each one filling the page (thanks to fullPage). Users will jump to the next section by scrolling, or navigating via the pagination links on the right. Each time that happens we’ll trigger some animations, like bringing the images into position, for example.</p>]]></articleContent>
        <articleTitle><![CDATA[Quick Tip: Scroll Animations With fullPage.js and Animate.css]]></articleTitle>
      </articleItem>
    </articlesMain>
    <textPage id="1080" key="107b56e3-f2f0-49ff-9e41-6076b61fc3a3" parentID="1074" level="2" creatorID="0" sortOrder="2" createDate="2016-03-24T18:24:44" updateDate="2016-03-24T19:07:20" nodeName="About us" urlName="about-us" path="-1,1074,1080" isDoc="" nodeType="1058" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1057" nodeTypeAlias="textPage">
      <metaKeywords><![CDATA[about, us, aarhus, web, dev]]></metaKeywords>
      <metaDescription><![CDATA[About Aarhus Web dev Convention]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <mainContent><![CDATA[<p>About Aarhus Web Devevloper</p>]]></mainContent>
      <header><![CDATA[About Aarhus Web Devevloper]]></header>
      <fullWidthArticle><![CDATA[{
  "name": "Full Width Article",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "3columns",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Hey",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1083,
                    "image": "/media/1002/atxwebdev.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": true
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Vision</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>People</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Skills</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "755c6ed8-7cf2-8226-0a77-8a5de91a562f"
        }
      ]
    }
  ]
}]]></fullWidthArticle>
    </textPage>
    <projectsMain id="1084" key="e5a85c58-4cd1-4513-a16d-271f65ffe88b" parentID="1074" level="2" creatorID="0" sortOrder="3" createDate="2016-03-25T12:57:47" updateDate="2016-03-25T12:57:47" nodeName="Projects" urlName="projects" path="-1,1074,1084" isDoc="" nodeType="1064" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1063" nodeTypeAlias="projectsMain">
      <metaKeywords><![CDATA[projects]]></metaKeywords>
      <metaDescription><![CDATA[projects]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectTitle><![CDATA[Projects]]></projectTitle>
      <projectsBodyText><![CDATA[<p>Bla bla bla bla projects</p>]]></projectsBodyText>
      <projectItem id="1085" key="cc4e43ff-3d36-434c-afbb-55682eb90395" parentID="1084" level="3" creatorID="0" sortOrder="0" createDate="2016-03-25T12:58:09" updateDate="2016-03-25T12:58:17" nodeName="Build SASS PROJECT" urlName="build-sass-project" path="-1,1074,1084,1085" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Build SASS PROJECT]]></metaKeywords>
        <metaDescription><![CDATA[Build SASS PROJECT]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Build SASS PROJECT]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>Build SASS PROJECT</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1086" key="e9229110-6bbf-434f-a0fc-76bfda3096ad" parentID="1084" level="3" creatorID="0" sortOrder="1" createDate="2016-03-25T12:58:44" updateDate="2016-03-25T12:59:22" nodeName="Build LESS PROJECT" urlName="build-less-project" path="-1,1074,1084,1086" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Build SASS PROJECT2]]></metaKeywords>
        <metaDescription><![CDATA[Build SASS PROJECT 2]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Build LESS PROJECT 2]]></projectTitle>
        <projectStatus>12</projectStatus>
        <projectDescription><![CDATA[<p>Build LESS PROJECT 2</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1087" key="5f1197a3-5708-4ee1-adc6-eb32132fe66f" parentID="1084" level="3" creatorID="0" sortOrder="2" createDate="2016-03-25T14:51:58" updateDate="2016-03-25T15:05:56" nodeName="Test completed project" urlName="test-completed-project" path="-1,1074,1084,1087" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[completed project]]></metaKeywords>
        <metaDescription><![CDATA[completed project]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[completed project]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>completed project</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1088" key="ca98e4af-8fc5-488e-aa0b-a324e259fa06" parentID="1084" level="3" creatorID="0" sortOrder="3" createDate="2016-03-25T15:05:26" updateDate="2016-03-27T19:21:55" nodeName="Test completed project (1)" urlName="test-completed-project-1" path="-1,1074,1084,1088" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[completed project]]></metaKeywords>
        <metaDescription><![CDATA[completed project]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[completed project]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>completed project</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1089" key="4fd4013c-0550-4090-921f-10cb1ba6eabf" parentID="1084" level="3" creatorID="0" sortOrder="4" createDate="2016-03-25T15:05:40" updateDate="2016-03-27T19:22:00" nodeName="Test completed project (2)" urlName="test-completed-project-2" path="-1,1074,1084,1089" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[completed project]]></metaKeywords>
        <metaDescription><![CDATA[completed project]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[completed project]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>completed project</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1090" key="e37658d1-2100-4759-9b82-47c031350236" parentID="1084" level="3" creatorID="0" sortOrder="5" createDate="2016-03-25T15:05:52" updateDate="2016-03-27T19:22:08" nodeName="Test completed project (3)" urlName="test-completed-project-3" path="-1,1074,1084,1090" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[completed project]]></metaKeywords>
        <metaDescription><![CDATA[completed project]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[completed project]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>completed project</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1091" key="cbece82f-0536-41dd-b07b-e6aed2db73a5" parentID="1084" level="3" creatorID="0" sortOrder="6" createDate="2016-03-25T15:25:56" updateDate="2016-03-27T19:22:21" nodeName="Hidden completed project" urlName="hidden-completed-project" path="-1,1074,1084,1091" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Hidden completed project]]></metaKeywords>
        <metaDescription><![CDATA[Hidden completed project]]></metaDescription>
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectTitle><![CDATA[Hidden completed project]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>Hidden completed project</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1092" key="41c8f560-0a8b-4977-9fed-d4be5b61dfdb" parentID="1084" level="3" creatorID="0" sortOrder="7" createDate="2016-03-25T15:26:20" updateDate="2016-03-25T15:26:25" nodeName="Hidden completed project (1)" urlName="hidden-completed-project-1" path="-1,1074,1084,1092" isDoc="" nodeType="1067" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1066" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Hidden completed project]]></metaKeywords>
        <metaDescription><![CDATA[Hidden completed project]]></metaDescription>
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectTitle><![CDATA[Hidden completed project]]></projectTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>Hidden completed project</p>]]></projectDescription>
      </projectItem>
    </projectsMain>
    <sitemap id="1095" key="f0530979-cfae-4c74-a5ac-49ffef0f77ce" parentID="1074" level="2" creatorID="0" sortOrder="4" createDate="2016-03-28T16:06:46" updateDate="2016-03-28T16:16:35" nodeName="Sitemap" urlName="sitemap" path="-1,1074,1095" isDoc="" nodeType="1094" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1093" nodeTypeAlias="sitemap">
      <metaKeywords><![CDATA[sitemap]]></metaKeywords>
      <metaDescription><![CDATA[sitemap]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSiteMap>1</hideFromSiteMap>
    </sitemap>
    <contactPage id="1099" key="b6f2e898-cdb2-498b-b7ec-2953a0634617" parentID="1074" level="2" creatorID="0" sortOrder="5" createDate="2016-03-28T16:32:54" updateDate="2016-03-28T16:32:54" nodeName="Contact us" urlName="contact-us" path="-1,1074,1099" isDoc="" nodeType="1098" creatorName="Serkan Ferat" writerName="Serkan Ferat" writerID="0" template="1097" nodeTypeAlias="contactPage">
      <metaKeywords><![CDATA[Contact us]]></metaKeywords>
      <metaDescription><![CDATA[Contact us]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSiteMap>0</hideFromSiteMap>
    </contactPage>
  </homePage>
</root>